* {
  box-sizing: border-box;
}

h1 {
  font-family: Brushstroke, fantasy;
  color: #000000;
  padding-top: 95px;

}

body {
  background-color: #E0FFFF;
  background-repeat: no-repeat;

}
span{
  padding-top: 10px;
  color: black;
  text-decoration: none;
  text-decoration-line: none;

}


p {
  padding: 10px;
  margin: 0 ;
}

.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}


section {
  border: 1px solid #9CBA7F;
  background-color: #BBFFFF;
  width: 100%;
  height: auto;
  font-family: 'Prociono', serif;
  color: black;
  position: relative;
  overflow: auto;

}

#chicken {
  
  text-align: center;
  font-family: 'Prociono', serif;
  font-weight: bold;
  font-size: 150%;
  padding: 5px;
  background-color: #00FFFF;
  margin:auto;
  color:black;
}


#beef {
  
  text-align: center;
  font-family: 'Prociono', serif;
  font-weight: bold;
  font-size: 150%;
  padding: 5px;
  background-color: #00FFFF;
  margin:auto;
  color: black;
}



#sushi {
  
  text-align: center;
  font-family: 'Prociono', serif;
  font-weight: bold;
  font-size : 150%;
  background-color: #00FFFF;
  padding: 5px;
  margin:auto;
  color: black;
}


#chicken-div {
  margin-bottom: 15px;
  margin-top: 15px;
}

#beef-div {
  margin-bottom: 15px;
  margin-top: 15px;
}

#sushi-div {
  margin-bottom: 15px;
  margin-top: 15px;
}


.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #00FFFF;
  color: #FFFFFF;
}



.item{

  font-size: 2em;
  color:black;
}



.item:hover{
  color:  #497AAB;
}

a:hover {


text-decoration: none;
}

